.emoji-dialog {
  position: fixed !important;
  left: 210px !important;
}

.columns-area {
  display: grid !important;
  height: 100%;
  grid-template-columns: 335px 330px 330px 335px;
  grid-template-rows: 48px auto 50%;
}

#ext-compose-box {
  grid-row: 1 / span 2;
  grid-column: 1;
  width: 335px;
  padding-bottom: 5px;
}

.drawer__header {
  position: absolute;
  grid-row: 1;
  grid-column: 4;
  left: 5px;
  width: 320px;
}

#ext-notifications {
  grid-row: 3;
  grid-column: 1;
  width: 335px;
  padding-top: 5px;
  padding-left: 10px;
}

#ext-notifications > .column-icon-clear {
  top: 5px;
}

#ext-home {
  grid-row: 1 / span 3;
  grid-column: 2;
}

#ext-original-column {
  position: static;
}

#ext-original-column > div.column-header {
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  left: 5px;
  top: 10px;
}

#ext-original-column > div.column-header {
  width: 220px;
}

#ext-original-column > div.column-back-button--slim {
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  left: 225px;
  top: 58px;
  width: 100px;
}

#ext-original-column > div.column-back-button {
  position: absolute;
  grid-row: 1;
  grid-column: 3;
  left: 5px;
  top: 10px;
  width: 290px;
}

div#ext-header-start.column-header {
  width: 290px;
}

#ext-navigator {
  grid-row: 2 / span 2;
  grid-column: 3;

  position: static !important;
}

#ext-original-content {
  position: absolute;

  grid-row: 2 / span 2;
  grid-column: 4;

  left: 0;
  top: 10px;
  width: 320px;
  height: calc(100% - 20px);
  margin: 0 5px;
}

#ext-mirror-column {
  grid-row: 2 / span 2;
  grid-column: 3;

  padding-right: 5px;
}

#ext-mirror-content > .status-list__unread-indicator {
  display: none;
}
